mixin card(src, title, price, cardtext)
  figure
    figcaption
      .card
        .badge-star
            span.star
                img(src="img/star.png", alt="star")
        img.card-img-top(src=src, alt="card image")
        .card-body
          h5.card-name= title
          p.price= price
            span *
          p.card-text= cardtext

-
  let cardInfo = {
      romantic: {
        img: "img/Card2_1.png",
        alt: "romantic",
        mainText: "Романтична подорож на 2",
        secondText: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
        price: "2599 грн.",
        flagged: true,
      },
      velotur: {
        img: "img/Card2_2.png",
        alt: "velotur",
        mainText: "Велотур",
        secondText: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
        price: "555 грн.",
        flagged: true,
        veloflagged: true,
      },
      islands: {
        img: "img/Card2_3.png",
        alt: "islands",
        mainText: "На острови!",
        secondText: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
        price: "1559 грн.",
        flagged: true,
      },
      serfing: {
        img: "img/Card2_4.png",
        alt: "serfing",
        mainText: "Катання на сьорфінгу",
        secondText: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
        price: "999 грн.",
        flagged: true,
      }
  }

mixin cardSecond(oneCard)
  figure.secondCards.pb-3 
    figcaption 
      .flex.center 
        if oneCard.veloflagged
          .container.w-100.p-0.position-relative
            .cornerBadge.veloflagged
              span 
                img(src="img/bicucle.svg", alt="bicucle").bicucle
              .cornerBadge.flagged
                span 
                  img(src="img/star.svg", alt="star")
            img(src=oneCard.img, alt=oneCard.alt).figImg.w-100
        else if oneCard.flagged
          .container.w-100.p-0.position-relative
            .cornerBadge.flagged
              span 
                img(src="img/star.svg", alt="star")
            img(src=oneCard.img, alt=oneCard.alt).figImg.w-100
        else 
          .container.w-100.p-0.position-relative
            img(src=oneCard.img, alt=oneCard.alt).figImg.w-100
      .container.px-3
        p.mainTextCards.fs-5.mb-1.pt-3 #{oneCard.mainText}
        p.secondTextCards.text-secondary #{oneCard.secondText}
        .row.align-items-center
          .col
            p.text-primary.fs-4.m-0 #{oneCard.price}
          .col.d-flex.justify-content-end
            a(href="#").text-warning.text-uppercase.d-flex.align-items-center.text-decoration-none.gap-2 Замовити
              span
                img(src="img/arrow2.svg", alt="arrow")

-
  let graphikInfo = {
    hotels: {
      img: "img/draft.svg",
      name: "Графік роботи готелів.xls",
      size: "Розмір файла: 10Mb",
      secondText: "Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.",
      bg: "img/cardsBg1.png",
      class: "hotels",
    },
    eating: {
      img: "img/draft.svg",
      name: "Інформація про харчування.xls",
      size: "Розмір файла: 10Mb",
      secondText: "У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.",
      bg: "img/cardsBg2.png",
      class: "eating",
    }
  }

mixin graphicsCards(graphicCard)
  figure.graphicCards 
    figcaption(class=graphicCard.class)
      .row 
        .col-3
          img(src=graphicCard.img, alt="image")
        .col 
          .container 
            p.fs-4 #{graphicCard.name}
          .container 
            p.fs-6 #{graphicCard.size}
      .row 
        p.fs-6 #{graphicCard.secondText}
      .row 
        a(href="#").btn.btn-outline-warning.d-flex
          span 
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffb700"><path d="M260-160q-92 0-156-64T40-380q0-78 48.5-137.5T210-594q25-90 99-148t171-58q119 0 199.5 82.5T760-520q75 8 117.5 62T920-341q0 75-52.5 128T740-160H260Zm0-80h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-63 0-112 34.5T296-597q78 13 131 73.5T480-380h-80q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41Z"/></svg>
          p СКАЧАТИ